*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
#main{
    width: 100%;
    position: relative;
}
nav{
    display: flex;
    box-shadow: 5px 10px 30px rgba(0,0,0,0.2);
    justify-content: space-around;
    align-items: center;
    padding-top: 5px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: #FFFFFF;
}

nav .logo, footer .logo{
    height: 45px;
    width: 100px;
    display: flex;
    justify-content: center;
    line-height: 48px;
    border-radius: 15px;
    font-size: medium;
    font-weight: 700;
    color: #FFFFFF;
    letter-spacing: 2px;
    background:  #1c3548;
    margin: 10px 10px 10px;
    text-transform: uppercase;   
}

nav .logo:hover, nav .logo:focus, footer .logo:hover, footer .logo:focus{
    background-color: #1c3548;
}

nav ul{
    display: flex;
}

nav ul li a{
    height: 40px;
    line-height: 43px;
    margin: 3px;
    margin-right: 100px;
    font-size: 0.8em;
    display: flex;
    padding: 0px 22px;
    text-transform: uppercase;
    letter-spacing: 2;
    font-weight: 600;
    color: black;
}

.navigation #cart{
    font-size: larger;
    width: 400px;
    height: 40px;
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.navigation li i{
    color: rgb(27, 207, 168);
    padding: 4px 0px;
    border: solid #f4f6f7;
    background-color: #f4f6f7;
    border-radius: 15px;
    width: 55px;
    height: 30px;
    margin-bottom: 15px;
    display: flex;
}

li i:hover{
    color:  #f4f6f7;
    background-color: rgb(27, 207, 168);
    border: rgb(27, 207, 168);
}

i span{
    padding-left: 15px;
}

nav a:hover, nav a:focus, footer a:hover, footer a:focus{
    background-color: rgb(27, 207, 168);
    color: #FFFFFF;
    box-shadow: 5px 10px 30px rgba(64, 98, 196, 0.3);
    transition: all ease-in;
}

.form-container{
    width: 50%;
    height: 50%; 
    border-radius: 0.5em;
    border: thin solid black;
    background-color: #FFFFFF;
    text-align: center;
    position: fixed;
    left: 25%;
    z-index: 2;
    margin-top: 5px;
    box-shadow: 5px 10px 30px rgba(64, 98, 196, 0.5);
    overflow: auto;
    display: none; 
}

.form-container #cart-items{
    display: block;
    justify-content: left;
    margin-top: 10px;
    padding-bottom: 10px;
}

.form-header span{
    border-bottom: 1px solid black;
    margin-top: .5em;
    margin-bottom: .5em;
}

.form-container .form-header{
    display: grid;
    grid-auto-flow: dense;
    justify-content: space-evenly;
    align-items: center;
    text-transform: capitalize;
}

.serial-num-head{
    grid-column: 1;
}

.item-title-head{
    grid-column: 2;
}

.item-price-head{
    grid-column: 3;
}

.item-quantity-head{
    grid-column: 4;
}

.form-header .remove-btn-head{
    grid-column: 5;
    border-bottom: none;
}

.serial-num{
    grid-column: 1;
}

.item-title{ 
    font-size: 1em;
    font-weight: bold;
    grid-column: 2;
}


.item-price{
    font-size: 1em;
    font-weight: bold;
    grid-column: 3;
}

.form-header .item-quantity{
    border-bottom: none;
    padding-right: 0px;
    width: fit-content;
    height: fit-content;
    grid-column: 4;
}

.quantity-small-screen{
    display: none;
}

.increment-btn, .decrement-btn{
    border: solid thin #1db096;
    border-radius: .4em;
    padding-left: .5em;
    padding-right: .5em;
    background-color: #1db096;
}

#increment-btn-small, #decrement-btn-small{
    background-color: #1db096;
    display: none;
}

.increment-btn{
    margin-right: -5px;
}

.cart-quant-value{
    margin: .1em;
}

.increment-btn:hover, .decrement-btn:hover, 
#increment-btn-small:hover, #decrement-btn-small:hover{
    background-color: #49dfdc;
}


.remove-btn{
    all: unset;
    color: #FFFFFF;
    background-color:#ff0000;
    border: none;
    border-radius: .3em;
    font-weight: bold;
    font-size: small;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    height: .1em;
    width: fit-content;
    margin-right: 0px;
    grid-column: 5;
}

.remove-btn:hover{
    background-color: #cc4c4c;
}

div .form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
}

.form input{
    padding: 5px;
    width: 90%;
    margin-left: 5%;
}

.form-container #value{
    font-weight: 800;
}

.button .check{
float: right;
width: 6em;
padding: 0.5em;
font-size: smaller;
margin-left: 10px;
} 

.button #cont-shop{
margin-left: 18px;
float: right;
width: 6em;
padding: 0.5em;
font-size: smaller;
}

.form-container button{
    width: 15em;
    word-wrap: nowrap;
    margin: 5px;
    border-radius: 5px;
    font-size: small;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1em;
    margin-bottom: 1em;
}

.summary-page{
    background-color: #FFFFFF;
    position: fixed;
    z-index: 3;
    overflow-x: hidden;
    overflow-y: auto;
    height: 80%;
    width: 50%;
    top: 0.2em;
    left: 25%;
    border-radius: 0.5em;
    box-shadow: 5px 10px 30px rgba(64, 98, 196, 0.5);
    display: none;
}

.summary-page h2{
    text-align: center;
}

.summary-page #summary-logo{
    display: flex;
    justify-content: center;
    align-items: center; 
    margin: 2em;   
}

.summary-page #summary-image{
    width:15em;
    height: 15em;
}

.summary-page #summary-title{
    display: flex;
    justify-content: center;
    justify-items: center;
}

.summary-page .summary-top, 
.summary-container .summarized-items{
    display: grid;
    grid-auto-flow: dense;
    grid-auto-columns: 15em;
    word-wrap: break-word;
    margin-left: 4px;
    margin-right: 4px;
}

.summary-page #summary-serial-numb{
    grid-column: 1;
}

.summary-page #summary-items{
    grid-column: 2;
}

.summary-page #summary-quantity{
    grid-column: 3;
}


.summary-page #number{
    grid-column: 1;
}

.summary-page #item-summary{
    grid-column: 2;;
}

#quantity-summary{
    grid-column: 3;
}

.summary-main li, .summary-top li{
    margin-top: 1em;
    text-decoration: underline;
}

.summary-page .close-button{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.tech-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tech-img{
    width: 500px;
    height: 500px;
}
#content{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(252, 252, 160);   
}

header h1{
    font-size: 4em;
    font-family: cursive;
    color: #1c3548;
    margin: 200px 0px 0px 0px; 
    text-transform: capitalize;
}

code{
    color: #1c3548;
    padding-left: 10px;
}

.heading-text{
    width: 310px;
    height: 800px;
}

#shop,button{
    width: 120px;
    margin: 16px;
    padding-bottom: 15px;
    height: 15px;
    color: #FFFFFF;
    background-color: #1db096;
    border: solid 15px;
    border-color: #1db096;
    border-radius: 20px;
    text-transform: uppercase;
    font-weight: bold
}

#shop a:visited, #shop a:active{
    color: #FFFFFF;
    
}

#shop:hover, button:hover{
    background-color: rgb(45, 252, 207);
    border-color: rgb(45, 252, 207);
    box-shadow: 4px 10px 30px rgba(24, 139, 119, 0.2)
}

#main-text{
    width: 55em;
    width: 100%;
    height: 50%;
    padding: 70px 0px 70px;
    text-align: center;
    background-color: #ccd4db;
    line-height: 2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}    

#main-text p{
    color: #747474;
}

#products-heading h2{
    color: #36b7b5;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 1rem;
}

#box-container h3{
    color: #1c3548;
    font-size: 1.5em;
    text-align: center;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
}

#products{
    width: 100%;
    border-top: 1px solid rgba(5,58,58,0.03);
    padding: 5.5em 0em;
    background-color: #f0ffff;
    background-position: center;
    background-size: 1000px;
}

#products-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

#box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 1.5em 0em;
}
section[id="box-container"]  div{
    width: 320px;
    height: 400px;
    border-radius: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1.8em; 
 
}

#gadget1{
    background-image: url('/images/tv.jpg');
}

#gadget2{
    background-image: url('/images/pixel4a.jpg');
}

#gadget3{
    background-image: url('/images/ps5.jpg');
}

#gadget4{
    background-image: url('/images/MacBookpro.jpg');
}

#gadget5{
    background-image: url('/images/watch.jpg');
}

#gadget6{
    background-image: url('/images/airpod.jpg');
}
  
#gadget1:hover button {
    position: fixed;
    top: 240px;
}

#gadget2:hover button {
    position: fixed;
    top: 240px
}

#gadget3:hover button {
    position: fixed;
    top: 240px
}

#gadget4:hover button {
    position: fixed;
    top: 240px
}

#gadget5:hover button {
    position: fixed;
    top: 240px
}

#gadget6:hover button {
    position: fixed;
    top: 240px
}

.gadgets{
    background-size: cover;
    background-position: center;
    color: #faf5f5;
}

.gadgets:hover, #cart i:hover, nav a:hover{
    box-shadow: 5px 10px 30px rgba(0,0,0,0.1);
    transition: all ease 0.2s;
    transform: translatey(-10px);
}

.gadgets .price{
    font-weight: 500;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;    
    opacity: 0;
} 

.gadgets:hover .price{
    background-color: rgba(0,0,0,0.5);
    transition: 0.8s;
    width: 320px;
    height: 400px;
    position: absolute;
    opacity: 1;
}

.price p{
    text-decoration: underline;
    margin-bottom: 2em;
}

.gadgets button{
    text-transform: uppercase;
    width: fit-content;
    opacity: 0;    
}

.gadgets:hover button{
    opacity: 1;
}

span #lower{
    text-transform: lowercase;
}

.nav-box .menu-btn{
    opacity: 0;  
}

#footer{
    margin-top: -10px;
    background-color: #1c1c1d;
    height: 5em;
    display: flex;
    justify-content: space-between;
}
#footer p{
    color: #f4f6f7;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-self: center;
    align-self: center;
    margin-right: 2em;
}

#footer a{
    color: #747474;
    font-family: cursive;
}
   
@media(max-width: 1260px) {
    nav{
        justify-content: space-between;
        height: 65px;
        padding: 0px 30px;
        
    }

    nav ul li a{
        margin-right: 0px;
    }
    .logo img{
        height: 35px;
    }
}

@media(max-width: 1120px){
    div .gadgets{
        flex-grow: 0.5;
        width: 800px;
        height: 400px;
    }
    .summary-page .summary-top,
    .summary-container .summarized-items{
        grid-auto-columns: 12em;
    }
}

@media(max-width:950px){
    .form-container{
        width: 70%;
        left: 20%;
    }
    
    .summary-page .summary-top,
    .summary-container .summarized-items{
        grid-auto-columns: 8em;
    }
}

@media(max-width:810px) {
    nav{
        height: 65px;
        padding: 0px 30px;
    }   

    .nav-box .navigation{
        display: block;
        position: absolute;
        top: 65px;
        left: 0px;
        background-color: rgba(245, 244, 244, 0.329);
        width: 100%;
        padding: 0px;
        margin: 0px;
    }

    .nav-box .menu{
        overflow: hidden;
        visibility: hidden;
        width: 100%;        
    }
    
    .menu-btn:checked ~ .menu{
        visibility: visible;
   
    }
    
    nav #cart{
        position: fixed;
        top: 10px;
        bottom: 480px;
        left: 400px;     
        visibility: visible;
    }

    .navigation li a{
        display: flex;
        justify-content: center;
        width: 100%;   
    }
   
    .menu-btn{
        cursor: pointer;
        opacity: 1;   
        z-index: 1;
        margin-left: 75px; 
    }

    .menu-icon{
        position: fixed;
        top: 33px;
        left: 200px; 
        z-index: 1;
        width: 15px;
        height: 2px;
        background-color: #1c3548;
        transition: all 0.4s ease;
    }

    .menu-icon:before, .menu-icon:after{
        content: '';
        position: absolute;
        z-index: 1;
        top: -4px;
        width: 100%;
        height: 2px;
        background-color: inherit;
    }

    .menu-icon:after{
        top: 4px;
    }

    .menu-btn:checked + label{
        transform: rotate(135deg);
    }

    .menu-btn:checked + label::before,
    .menu-btn:checked + label::after{
        top: 0;
        transform: rotate(90deg);
    }

    .menu-btn:checked:hover + label{
        transform: rotate(225deg);
    }

    #content{
        display: block;
        text-align: center;
        padding-top: 100px;
        width: 100%;       
    }

    #content .tech-img{
        margin-left: 20%;
        margin-bottom: -100px;
        padding-bottom: 0px;   
    }

    #content .heading-text{
        margin-left: 20%;
        width: 500px;
        margin-top: -100px;
        padding-top: 0px;
    }
}

@media(max-width: 720px){
    body{
       width: fit-content;
    }
    
    #cart i{
        position: absolute;
        left: -100px;
    }

     #content .tech-img{
      display: none;
    } 

    .heading-text{
      all: unset;  
      width: 50px;  
      text-align: left;
    }

    .heading-text h1{
        width: 40%;
        margin-top: 0px;
    }
} 

@media(max-width:670px){
    body{
        font-size: small;
    }

    .form-header{
        justify-content: space-around;
    }

    .serial-num, .item-title,
    .item-price,  
    .remove-btn{
        grid-column: 1;
    }

    .quantity-small-screen{
        display: block;
    } 
    
    #increment-btn-small, #decrement-btn-small{
        display: block;
        border-radius: 0.5em;
    }

    .remove-btn{
        margin-left: 2em;
    }

    .form-header {
        position: relative;
        top: 50%;    
        border: none;
    }

    .serial-num-head, .item-title-head, .item-price-head,
    .item-quantity-head, .remove-btn-head, .serial-num, 
    .form-header, .item-quantity{
        display: none;
    }

    .button{
        margin-left: 15em;
    }
    .summary-page .summary-top,
    .summary-container .summarized-items{
        grid-auto-columns: 4em;
    }

    .summary-top{
        overflow-y: auto;
    }

    #summary-items{
        margin-left: -4em;
    }
    
    #summary-serial-numb, #number{
        display: none;
    }

    .summarized-items #item-summary{
        margin-left: -4em;
    }
}

@media(max-width: 420px){
    #summary-image{
        display: none; 
    }
}