*{
    margin: 0x;
    padding: 0px;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
#main{
    width: 100%;
    position: relative;
}
nav{
    display: flex;
    box-shadow: 5px 10px 30px rgba(0,0,0,0.2);
    justify-content: space-around;
    align-items: center;
    padding-top: 5px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: #FFFFFF;
}

nav .logo{
    height: 45px;
    width: 100px;
    display: flex;
    justify-content: center;
    line-height: 48px;
    border-radius: 15px;
    font-size: medium;
    font-weight: 700;
    color: #FFFFFF;
    letter-spacing: 2px;
    background:  #1c3548;
    margin: 10px 10px 10px;
    text-transform: uppercase;   
}

nav .logo:hover, nav .logo:focus{
    background-color: #1c3548;
}

nav ul{
    display: flex;
}

nav ul li a{
    height: 40px;
    line-height: 43px;
    margin: 3px;
    margin-right: 100px;
    font-size: 0.8em;
    display: flex;
    padding: 0px 22px;
    text-transform: uppercase;
    letter-spacing: 2;
    font-weight: 600;
    color: #585a5b;
}

.navigation #cart{
    font-size: larger;
    width: 400px;
    height: 40px;
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

/* .navigation #cart span{
    padding: 0px 4px 10px;

} */

.navigation li i{
    color: rgb(27, 207, 168);
    padding: 4px 0px;
    border: solid #f4f6f7;
    background-color: #f4f6f7;
    border-radius: 15px;
    width: 55px;
    height: 30px;
    margin-bottom: 15px;
    display: flex;
}

li i:hover{
    color:  #f4f6f7;
    background-color: rgb(27, 207, 168);
    border: rgb(27, 207, 168);
}

i span{
    padding-left: 15px;
}

nav a:hover, nav a:focus{
    background-color: rgb(27, 207, 168);
    color: #FFFFFF;
    box-shadow: 5px 10px 30px rgba(64, 98, 196, 0.3);
    transition: all ease-in;
}
.tech-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.tech-img{
    width: 500px;
    height: 500px;
}
#content{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(252, 252, 160);   
}

header h1{
    font-size: 4em;
    font-family: cursive;
    color: #1c3548;
    margin: 200px 0px 0px 0px; 
    text-transform: capitalize;
}

code{
    color: #1c3548;
    padding-left: 10px;
}

.heading-text{
    width: 310px;
    height: 800px;
}

#shop,button{
    width: 120px;
    margin: 16px;
    padding-bottom: 15px;
    height: 15px;
    color: #FFFFFF;
    background-color: #1db096;
    border: solid 15px;
    border-color: #1db096;
    border-radius: 20px;
    text-transform: uppercase;
    font-weight: bold
}

#shop a:visited , #shop a:active{
    color: #FFFFFF;
}

#shop:hover, button:hover{
    background-color: rgb(45, 252, 207);
    border-color: rgb(45, 252, 207);
    box-shadow: 4px 10px 30px rgba(24, 139, 119, 0.2)
}

#main-text{
    width: 55em;
    width: 100%;
    height: 50%;
    padding: 70px 0px 70px;
    text-align: center;
    background-color: rgb(8, 8, 8);
    line-height: 2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}    

#main-text p{
    color: #747474;
}

#products-heading h2{
    color: #36b7b5;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 1rem;
}

#box-container h3{
    color: #1c3548;
    font-size: 1.5em;
    text-align: center;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
}

#products{
    width: 100%;
    border-top: 1px solid rgba(5,58,58,0.03);
    padding: 5.5em 0em;
    background-color: #f0ffff;
    background-position: center;
    background-size: 1000px;
}

#products-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

#box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 1.5em 0em;
}
section[id="box-container"]  div{
    width: 320px;
    height: 400px;
    border-radius: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1.8em; 
 
}

#gadget1{
    background-image: url('/images/tv.jpg');
}

#gadget2{
    background-image: url('/images/pixel4a.jpg');
}

#gadget3{
    background-image: url('/images/ps5.jpg');
}

#gadget4{
    background-image: url('/images/MacBookpro.jpg');
}

#gadget5{
    background-image: url('/images/watch.jpg');
}

#gadget6{
    background-image: url('/images/airpod.jpg');
}
  
#gadget1:hover button {
    position: fixed;
    top: 240px;
}

#gadget2:hover button {
    position: fixed;
    top: 240px
}

#gadget3:hover button {
    position: fixed;
    top: 240px
}

#gadget4:hover button {
    position: fixed;
    top: 240px
}

#gadget5:hover button {
    position: fixed;
    top: 240px
}

#gadget6:hover button {
    position: fixed;
    top: 240px
}

.gadgets{
    background-size: cover;
    background-position: center;
    color: #faf5f5;
}

.gadgets:hover, #cart i:hover, nav a:hover{
    box-shadow: 5px 10px 30px rgba(0,0,0,0.1);
    transition: all ease 0.2s;
    transform: translatey(-10px);
}

.gadgets .price{
    font-weight: 500;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;    
    opacity: 0;
} 

/* makiking price visible on hover*/ 
.gadgets:hover .price{
    background-color: rgba(0,0,0,0.5);
    transition: 0.8s;
    width: 320px;
    height: 400px;
    position: absolute;
    opacity: 1;
}

/* making button invisible */
.gadgets button{
    text-transform: uppercase;
    width: fit-content;
    opacity: 0;    
}

/* making button visible on hover*/
.gadgets:hover button{
    opacity: 1;
}

span #lower{
    text-transform: lowercase;
}

.nav-box .menu-btn{
    opacity: 0;  
}
   
@media(max-width: 1260px) {
    nav{
        justify-content: space-between;
        height: 65px;
        padding: 0px 30px;
        
    }

    nav ul li a{
        margin-right: 0px;
    }
    .logo img{
        height: 35px;
    }
}

@media(max-width: 1120px){
    div .gadgets{
        flex-grow: 0.5;
        width: 800px;
        height: 400px;
    }
}

@media(max-width:810px) {
    nav{
        height: 65px;
        padding: 0px 30px;
    }   

    .nav-box .navigation{
        display: block;
        position: absolute;
        top: 65px;
        left: 0px;
        background-color: rgba(245, 244, 244, 0.329);
        width: 100%;
        padding: 0px;
        margin: 0px;
    }
    .nav-box .menu{
        overflow: hidden;
        visibility: hidden;
        width: 100%;        
        }
    
        .menu-btn:checked ~ .menu{
         visibility: visible;   
        }
    
        nav #cart{
            position: fixed;
            bottom: 480px;
            left: 400px;     
            visibility: visible;
        }

    .navigation li{
        display: flex;
        justify-content: center;
        width: 100%;    
    }
   
    .menu-btn{
        cursor: pointer;
        opacity: 1;   
        z-index: 1;
        margin-left: 75px; 
    }

    .menu-icon{
        position: fixed;
        top: 33px;
        left: 200px; 
        z-index: 1;
        width: 15px;
        height: 2px;
        background-color: #1c3548;
        transition: all 0.4s ease;
    }

    .menu-icon:before, .menu-icon:after{
        content: '';
        position: absolute;
        z-index: 1;
        top: -4px;
        width: 100%;
        height: 2px;
        background-color: inherit;
    }

    .menu-icon:after{
        top: 4px;
    }

    .menu-btn:checked + label{
        transform: rotate(135deg);
    }

    .menu-btn:checked + label::before,
    .menu-btn:checked + label::after{
        top: 0;
        transform: rotate(90deg);
    }

    .menu-btn:checked:hover + label{
        transform: rotate(225deg);
    }

    #content{
        display: block;
        text-align: center;
        padding-top: 100px;
        width: 100%;       
    }

    #content .tech-img{
        margin-left: 20%;
        margin-bottom: -100px;
        padding-bottom: 0px;   
    }

    #content .heading-text{
        margin-left: 20%;
        width: 500px;
        margin-top: -100px;
        padding-top: 0px;
    }
}
