<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EMS</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://kit.fontawesome.com/d7d32996a4.js" crossorigin="anonymous"></script>
</head>
<body>
    <section id="main">
        <nav class="nav-box">
            <a href="#" class="logo">ems</a>
            <input type="checkbox" class="menu-btn" id="menu-btn">
            <label for="menu-btn" class="menu-icon"><span></span></label>
            <div class="menu">        
                <ul class="navigation">
                    <li class="nav" id="nav1"><a href="#content">intro</a></li>
                    <li class="nav" id="nav2"><a href="#main-text">about</a></li>
                    <li class="nav" id="nav3"><a href="#products">shop</a></li>
                    <li id="cart"><i class="fas fa-cart-plus"><span id="cart-numb">0</span></i></li>
                </ul>       
            </div>    
        </nav>
        <header id="content" >
            <section class="tech-img" id="image">
                <img src="/images/tech-png.png" alt="">
            </section>
            <section class="heading-text">
                <h1>the e-millenial tech hub</h1>
                <code>Your number one spot for anything tech...</code>
                <br>
                <button id="shop"><a href="#products">Shop now</a></button>
            </section>    
        </header>
        <aside id="main-text">
            <p> 
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut maxime voluptate et minus mollitia accusantium animi iure, soluta perspiciatis tempora ullam quod temporibus ex distinctio dolor molestiae, 
                voluptates officiis quidem cum, suscipit iste? Sit repellat, placeat assumenda repudiandae exercitationem magni! Quaerat, ratione mollitia. Nemo, delectus facilis laboriosam soluta dignissimos sunt cum explicabo minus inventore eius. Consequatur deleniti incidunt modi exercitationem, laboriosam blanditiis 
                culpa repellendus fugit eum dolorem atque, nisi vel. Accusantium dicta assumenda quis a, corrupti nemo vel ut similique quia perferendis ea nulla ad optio quasi suscipit aspernatur! Voluptatem maiores nam tempore inventore impedit corrupti exercitationem laborum architecto fuga.
            </p>    
        </aside>
        <main id="products">
            <section id="products-heading">
                <h2 id="our-gadgets">our gadgets</h2>
            </section>
            <section id="box-container">
                <span>
                    <div id="gadget1" class="gadgets">
                            <div class="price">
                                <p>price</p>
                                <p>#500,000</p>
                            </div>    
                            <button>add to cart</button>  
                    </div>  
                    <h3>samsung tv</h3>
                </span>
                <span>
                    <div id="gadget2" class="gadgets">
                            <div class="price">
                                <p>price</p>
                                <p>#250,000</p>
                            </div>    
                            <button>add to cart</button>  
                    </div>  
                    <h3>pixel 4<span id="lower">a</span></h3>
                </span>  
                <span>
                    <div id="gadget3" class="gadgets">
                            <div class="price">
                                <p>price</p>
                                <p>#300,000</p>
                            </div>    
                            <button>add to cart</button>  
                    </div>  
                    <h3>ps 5</h3>
                </span>
                <span>
                    <div id="gadget4" class="gadgets">
                            <div class="price">
                                <p>price</p>
                                <p>#800,000</p>
                            </div>    
                            <button>add to cart</button>  
                    </div>  
                    <h3>MacBook Pro</h3>
                </span>
                <span>
                    <div id="gadget5" class="gadgets">
                            <div class="price">
                                <p>price</p>
                                <p>#80,000</p>
                            </div>    
                            <button>add to cart</button>  
                    </div>  
                    <h3>Apple Watch Series 5</h3>
                </span>
                <span>
                    <div id="gadget6" class="gadgets">
                            <div class="price">
                                <p>price</p>
                                <p>#50,000</p>
                            </div>    
                            <button>add to cart</button>  
                    </div>  
                    <h3>Apple AirPods</h3>
                </span>
            </section>
        </main>
    </section>
</body>
</html>