<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Document</title>
</head>
<body>
    <section id="main">
        <nav>
            <a href="#" class="logo">ems</a>
            <ul class="navigation">
                <li><a href="#">intro</a></li>
                <li><a href="#">about</a></li>
                <li><a href="#">shop</a></li>
                <li id="cart"><img src="" alt="cart"></li>
            </ul>
        </nav>
        <header class="content">
            <section class="tech-img">
                <img src="/images/tech.png" alt="An image showing tech gadgets">
            </section>
            <section class="heading-text">
                <h1>e-millenia tech hub</h1>
                <code>Your number one spot for anything tech...</code>
                <br>
                <button class="shop">Shop now</button>
            </section>    
        </header>
        <aside class="main-text">
            <p> 
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium nemo, ipsa nisi provident et molestias officia esse corrupti fugiat, dolorem odio quas illo impedit maiores voluptates eveniet magni reiciendis labore. 
                Placeat, explicabo fugiat. Ad, corporis. Vel possimus eaque ipsa blanditiis, tenetur nesciunt similique architecto libero. Dignissimos impedit saepe, 
                commodi non quaerat officiis dolorum ducimus optio at atque odio quasi nostrum architecto necessitatibus harum cupiditate dolores quod, distinctio ad modi cumque delectus error aperiam totam. Architecto officiis at maxime facere omnis!
            </p>    
        </aside>
        <main class="products">
            <section id="products-heading">
                <h2>our gadgets</h2>
            </section>
            <section class="box-container">
                <span>
                    <div id="gadget1">
                            <div class="price">
                                <p>price</p>
                                <p>#500,000</p>
                            </div>    
                            <button>add to cart</button>  
                    </div>  
                    <h3>samsung tv</h3>
                </span>
                <span>
                    <div id="gadget2">
                            <div class="price">
                                <p>price</p>
                                <p>#250,000</p>
                            </div>    
                            <button>add to cart</button>  
                    </div>  
                    <h3>pixel 4<span id="lower">a</span></h3>
                </span>  
                <span>
                    <div id="gadget3">
                            <div class="price">
                                <p>price</p>
                                <p>#300,000</p>
                            </div>    
                            <button>add to cart</button>  
                    </div>  
                    <h3>ps 5</h3>
                </span>
                <span>
                    <div id="gadget4">
                            <div class="price">
                                <p>price</p>
                                <p>#800,000</p>
                            </div>    
                            <button>add to cart</button>  
                    </div>  
                    <h3>MacBook Pro</h3>
                </span>
                <span>
                    <div id="gadget5">
                            <div class="price">
                                <p>price</p>
                                <p>#80,000</p>
                            </div>    
                            <button>add to cart</button>  
                    </div>  
                    <h3>Apple Watch Series 5</h3>
                </span>
                <span>
                    <div id="gadget6">
                            <div class="price">
                                <p>price</p>
                                <p>#50,000</p>
                            </div>    
                            <button>add to cart</button>  
                    </div>  
                    <h3>Apple AirPods</h3>
                </span>
            </section>
        </main>
    </section>
</body>
</html>